{%extends "blog_app/base.html" %}
{%block content%}

<h1>Welcome!</h1>
<p>.Geekify is a Blog for the GEEKS. 
    It allows the users to view various posts on the home page of the website and also post some refreshing content about the booming technologies and computer science subjects.
    Features like register, update user profile, upload profile picture, login, logout, create new post, update and delete the existing post is available on this website.
Note- Users can update and delete only their own posts. You can only post after creating an account. </p>
<h5>Begin your journey</h5>
<a class="ml-2" href="{% url 'register' %}">Sign Up</a>
{% endblock content %}